@import url("https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap");

/* 
.imagesContainer .description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */
/* body {
  overflow-x: hidden;
} */
.imagesContainer {
  /* height:auto;
  width:auto; */
  /* object-fit: cover; */
  /* overflow-x: hidden; */
  /* position: relative; */
  
  position: relative;
  display: flex;
  flex-direction: row;
  /* justify-content: flex-end; */
  overflow: hidden;
  /* overflow-x: hidden; */
}

.imageContainer {
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
}

.imagePetra {
  left: 0;
  top: 0;
  width: 47.6rem;
  height: 55.6rem;
  opacity: 0.4;
}

.spartaLogo {
  position: absolute;
  top: 20px;
  left: 120px;
  width: 70px;
  border-radius: 50%;
}

video {
  width: 71.4rem;
  height: 55.6rem;
  object-fit: cover;
}
.textHeaderContainer {
  position: relative;
  margin-left: -720px;
  color: #000000;
  font-family: "EB Garamond";
  font-size: 3.9vw;
  font-weight: 600;
}

.icons {
  color: black;
}

/* .spartaLogo {
  display: flex;
  position: absolute; */
/* right: 0;
   top: 0; */
/* width: 6rem;
  top: 20px;
  left: 10rem;
  border-radius: 10rem;
} */

.yearText {
  font-size: 50%;
  font-family: "Nothing You Could Do", cursive;
}

.imagePetraSecond {
  position: relative;
  width: 100%;

  height: 74rem;
}

.headerSecondContainer {
  position: absolute;
  top: 65px;
  left: 0;
  text-align: center;
}

.foodImage {
  position: relative;
  width: 72rem;
  height: 52rem;
}

.textImage {
  position: absolute;
  right: -23rem;
  top: 50%;
  transform: translateY(-50%);

  align-items: right;
}
.homeTextChange {
  color: #c89f5f;
  position: relative;
  left: 10rem;
  font-size: 23px;
}

.headerSettings {
  position: relative;
  top: 2rem;
  font-size: 80px;
  font-family: "EB Garamond";
}
.homeHeaderChange {
  font-family: "Nothing You Could Do";
  font-size: 40px;
}
.imagesContainerIcons {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bigImage {
  width: 100%;
  height: 60rem;
}

.iconButtonsContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.leftIconButton {
  position: absolute;
  left: 15px;
}

.rightIconButton {
  position: absolute;
  right: 15px;
}
.iconLeftRight {
  cursor: pointer;
  color: #c89f5f;
  font-size: 2.6rem;
}

.petraBackgroundThird {
  width: 100%;
}
.transformImage {
  /* background-size: cover; */
  /* height:auto; */
  
  overflow:hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.transformImage.imgTransform{
  /* width:100%; */
  display: block;
  transition: transform 2s;
}

.transformImage:hover .imgTransform{
  transform:scale(1.3);
}
.imgTransform {
  overflow:hidden;
  /* transform: scale(1.1);
  cursor: pointer;
  transition: transform 0.2s ease-in-out; */
  filter: brightness(60%);
  transform: translateY(0);
  transition: transform 1s ease-out;
  margin-right: 40px;
}
.imgZoom{
 
}

.imgZoom {

}



.centerH2TransformImage {
  transform: translateY(0);
  transition: transform 0.1s ease-in-out;
  position: absolute;
  top: 38%;
  left: 24%;
  transform: translate(-50%, -50%);
  color: whitesmoke;
  font-size: 50px;
  font-weight: 600;
}

.centerH2TransformImageWein{
  transform: translateY(0);
  transition: transform 0.1s ease-in-out;
  position: absolute;
  top:39%;
  left:73%;
  transform: translate(-50%, -50%);
  color: whitesmoke;
  font-size: 50px;
  font-weight: 600;
}

.tsoukrismaWhiteBackground{
  background-color: white;
  width:100%;
  height:40rem;
}
/* .centerH2TransformImage {
  position: absolute;
  top: 25%;
  left: 21%;
  transform: translate(-50%, -50%);
} */
@media (max-width: 768px) {
  .imagesContainer {
    flex-direction: column;
  }

  .imagePetra {
    width: 100%;
    height: 25rem;
  }
  video {
    width: 100%;
    height: auto;
  }
  .textHeaderContainer {
    margin-right: -360px;
    font-size: 2.2rem;
  }
  .yearText {
    position: relative;
    top: 1rem;
    font-size: 2rem;
  }

  .icons {
    position: relative;
    top: 2rem;
  }

  .foodImage {
    width: 100%;
    height: 25rem;
  }
  .headerSettings {
    position: relative;
    top: -2rem;
    font-size: 2rem;
  }
  .foodImage {
    top: -2px;
  }
  .textImage {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 9rem;
    left: -9rem;
  }
  .homeHeaderChange {
    position: relative;
    left: 8rem;
  }
  .imagePetraSecond {
    width: 100%;
    height: 60rem;
  }
  .homeTextChange {
    position: relative;
    margin-left: -3rem;
    font-size: 20px;
    top: -2rem;
  }
  .bigImage {
    height: 25rem;
    object-fit: cover;
  }
}
